<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.css/' %}">

</head>
<body>
<style>
    .books__button {
        margin-top: 50px;
    }
    .detail__image {
        margin-top: 20px;
        margin-left: 200px;

    }
</style>
<div class="container">
    <a href="/books/" class="btn btn-success books__button">Back</a>
    <a href="/add-books/" class="btn btn-success books__button">Create New Masterpiece</a>
</div>
<img src="{{book.image.url}}" class="detail__image" alt="">
<h2>{{ book.title }}</h2>
<p>{{ book.description }}</p>
<p>{{ book.genre }}</p>
<p>{{ book.quantity_of_page }}</p>
<p>{{ book.author }}</p>
<p>{{ book.created_date }}</p>
<p>{{ book.updated_date }}</p>
</body>
</html>