<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.css/' %}">

</head>
<body>
<style>
    .books__button {
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .detail__image {
        height: 500px;
        object-fit: contain;

    }
    body {
        background: #34e89e;
        background: -webkit-linear-gradient(to right, #0f3443, #34e89e);
        background: linear-gradient(to right, #0f3443, #34e89e);
    }
</style>
<div class="container">
    <a href="/books/" class="btn btn-success books__button">Back</a>
    <a href="/add-book/" class="btn btn-success books__button">Create New Masterpiece</a>
    <a href="/books/{{ object.id }}/update/" class="btn btn-success books__button">Change</a>
    <a href="/books/{{ object.id }}/delete/" class="btn btn-success books__button">Delete</a>

</div>
<div class="container">
    <div class="card">
    <img src="{object.image.url }}" class="card-img-top detail__image" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ object.title}}</h5>
            <p class="card-text">{{ object.description}}</p>
            <p class="card-text">{{ object.genre}}</p>
            <p class="card-text">{{ object.quantity_of_page}}</p>
            <p class="card-text">{{ object.author}}</p>
            <p class="card-text">{{ object.created_date}}</p>
            <p class="card-text">{{ object.updated_date}}</p>
            <div class="card-body">
                <h2>Comments: </h2>
                <ul>
                    {% for comment in object.books_comment.all %}
                    <li>
                        <p>Username: {{ comment.user.username }}</p>
                        <p>Text: {{ comment.text }}</p>
                    </li>
                    {% endfor %}}
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>