<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.css/' %}">

</head>
<body>
<style>
    .books__button {
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .detail__image {
        height: 500px;
        object-fit: contain;

    }
    body {
        background: #34e89e;
        background: -webkit-linear-gradient(to right, #0f3443, #34e89e);
        background: linear-gradient(to right, #0f3443, #34e89e);
    }
</style>
<div class="container">
    <a href="/books/" class="btn btn-success books__button">Back</a>
    <a href="/add-book/" class="btn btn-success books__button">Create New Masterpiece</a>
    <a href="/books/{{ book.id }}/update/" class="btn btn-success books__button">Change</a>
    <a href="/books/{{ book.id }}/delete/" class="btn btn-success books__button">Delete</a>

</div>
<div class="container">
    <div class="card">
    <img src="{{ book.image.url }}" class="card-img-top detail__image" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ book.title}}</h5>
            <p class="card-text">{{ book.description}}</p>
            <p class="card-text">{{ book.genre}}</p>
            <p class="card-text">{{ book.quantity_of_page}}</p>
            <p class="card-text">{{ book.author}}</p>
            <p class="card-text">{{ book.created_date}}</p>
            <p class="card-text">{{ book.updated_date}}</p>
        </div>
    </div>
</div>
</body>
</html>